@font-face {
  font-family: "Cascadia Code";
  src: url("./fonts/CascadiaCode-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Light";
  src: url("./fonts/Playfair_9pt-Light.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #721011;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

#containerFigure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 50px;
}

#logoIMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 141.7323px;
  height: 183.4646px;
}

#container i {
  font-size: 22px;
  color: #fff6dc;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#container > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.labelIcon {
  color: #fff6dc;
  font-size: 12px;
  font-family: "Playfair Light";
}

.icon {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  background-color: hsla(45, 100%, 93%, 0.55);
}

.icon:active {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
}
